@import 'bootstrap/dist/css/bootstrap.min.css';
@import './componentesCss/HeaderCss';
@import './componentesCss/BuscadorCss';
@import './componentesCss/MenuLateralCss';
@import './componentesCss/TarjetasCss';
@import './componentesCss/MyCardCss';
@import './componentesCss/FooterCss';


*{
    margin: 0;
    padding: 0;
}
