$imageBuscador: url('../../img/imagenBuscador.jpeg');
$azulFondo: rgb(85, 177, 184);

.Buscador{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buscador-container{

    width: 90%;
    height: 90%;
    border-radius: 30px;
    // background-color: red;
    background-image: $imageBuscador;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    @media ( max-width: 806px){
        height: 110%;
    }


}

.buscador-sombra{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    float: left;
    // background-color: rgba($color: #013F9C, $alpha: 0.4);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(1,63,156,0.6) 20%);
    @media ( max-width: 541px){
        background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(1,63,156,0.6) 0%);
    }    
    // border-top-left-radius: 30px;
    // border-bottom-left-radius: 30px;
    border-radius: 30px;
    border: 60px rgba($color: #013F9C, $alpha: 0.4);
    border-top-width: 70%;
    border-right-width: 70%;
    border-left-width: 70%;
    border-bottom-width: 70%;
}
.contenedorBuscar{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    @media ( max-width: 766px){
        flex-flow: column wrap;
    }

}

.ContenedorMenus{
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    height: 100%;    
    width: 600px;
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(1,63,156,1) 50%, rgba(9,9,121,0) 100%);
    text-align: center;
    color: white;
    .texto{
        font-size: 20px;
    }
    .correo{
        font-size: 18px;
        
    }
    .correoLinea{
        font-weight: bold;
    }
    a:hover{
        text-decoration: underline ;
    }

    @media ( max-width: 1200px){
        width: 600px;
    }
    @media ( max-width: 900px){
        margin-left: 5px;
        margin-right: 5px;
        width: 520px;
        .texto{
            font-size: 17px;
        }
        .correo{
            font-size: 16px;
            
        }
    }
    @media ( max-width: 806px){
        height: 100%;
    }
    @media ( max-width: 766px){
        padding: 5px;
        .texto{
            font-size: 17px;
        }
        .correo{
            font-size: 15px;
            
        }
        background: rgba($color: black , $alpha: 0.1);
        justify-content: space-around;
        height: 100px;

    }
    @media ( max-width: 650px){
        .texto{
            font-size: 16px;
        }
        .correo{
            font-size: 15px;
            
        }
        height: 140px;
        width: 480px;
    }
    @media ( max-width: 605px){
        .texto{
            font-size: 15px;
        }
        .correo{
            font-size: 14px;
            
        }
    }
    @media ( max-width: 591px){
        align-items: center;
        width: 455px;
    }  
    @media ( max-width: 541px){
        background: none;
        align-items: center;
        width: 320px;
    }    
    @media ( max-width: 412px){
        align-items: center;
        width: 310px;
    }
    @media ( max-width: 376px){
        width: 300px;
        .texto{
            font-size: 13px;
        }
        .correo{
            font-size: 12px;
            
        }
    }
    @media ( max-width: 321px){
        width: 280px;
    }
    @media ( max-width: 280px){
        width: 250px;
    }
}
.BotonBuscar{
    // background-color: aqua;
    height: 100px;
    width: 100px;
    @media ( max-width: 900px){
        height: 80px;
        width: 80px;
    }
    @media ( max-width: 766px){
        height: 60px;
        width: 60px;
    }
    @media ( max-width: 505px){
        width: 50px;
        height: 50px;
    }
    // @media ( max-width: 376px){
    //     width: 100px;
    // }
}


