.footerContainer{
    background-color: rgba($color: #e9ecef, $alpha: 1);
    display: flex;
    flex-flow: row wrap;
    padding: 17px;
    padding-left: 40px;
    padding-right: 40px ;
    font-size: 14px;
    @media ( max-width: 500px){
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    @media ( max-width: 360px){
        font-size: 13px;
    }
    @media ( max-width: 300px){
        padding: 15px;
        font-size: 10px;
    }
}

.footerPostman{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .textoPostman{
        text-align: center;
        font-family: Roboto, sans-serif;
        color: rgba($color: black, $alpha: 0.54);
    }
    .botonPostman{
        background-color: #ff6c37;
        color: white;
        padding: 10px 10px;
        cursor: pointer;
        border-radius: 10px;
        -webkit-box-shadow: -1px 8px 27px 0px rgba(0,0,0,0.4); 
        box-shadow: -1px 8px 27px 0px rgba(0,0,0,0.4);    }
}

.footerLocatel{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.imagen1{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    @media ( max-width: 412px){
        margin-right: 7px;
        width: 30px;
        height: 30px;
    }
}
.imagen2{
    width: 150px;
    height: 50px;
    @media ( max-width: 412px){
        width: 95px;
        height: 35px;
    }
}

.imagenLocatelFooter{
    width: 114px;
    height: 40px;

    @media ( max-width: 412px){
        width: 90px;
        height: 30px;
    }
}

.footer{
    // background-color: royalblue;

    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    @media ( max-width: 500px){
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    @media ( max-width: 376px){
        margin-top: 5px;
    }
    @media ( max-width: 360px){
        font-size: 13px;
    }
    @media ( max-width: 300px){
        padding: 5px;
        font-size: 10px;
    }
}

.copyOxigeno{
    display: flex;
    align-items: center;
    color: rgba($color: #188AFC, $alpha: 0.9);
    width: 50%;
    @media ( max-width: 500px){
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
    }
}
.refLsd{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    text-align: left;
    @media ( max-width: 766px){
        text-align: right;   
    }
    @media ( max-width: 501px){
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;          
    }

    @media ( max-width: 500px){
        width: 100%;
        text-align: center;
    }
    a{
        color: rgba($color: #188AFC, $alpha: 0.8);
        text-decoration: none;

    }        
    
    a:hover{
            color: rgba($color: #7d1cca, $alpha: 0.9);
    }
    .contenedorImagen{
        margin-left: 10px;
        min-width: 30px;
        min-height: 30px;
        @media ( max-width: 501px){
            margin-top: 10px;         
        }
        @media ( max-width: 376px){
            min-width: 40px;
            min-height: 40px;
        }
        @media ( max-width: 281px){
            min-width: 30px;
            min-height: 30px;
        }  
        display: flex;
        align-items: center;
        justify-content: center;
        .imgLogoFooter{
            width: 30px;
            height: 30px;
        }

    }
}